body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
.color {
    background-color:aquamarine ;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}